body {
    font-family: 'Raleway', 'sans-serif';
}

header {
    display: flex;
    justify-content: space-between;
    }



.marseille {
    
    background-color: #F2F2F2;
    width: 66%;
}

.populaire {

    background-color: #F2F2F2;
}


footer {
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-around;
}

nav ul { 
    list-style-type: none;
    display: flex;
    
}
nav ul li {
    align-items: space-between;
}

nav ul li a {
    text-decoration: none;
}

footer ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}