*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', 'sans-serif';
    width: 100%;
}

#page {
    margin: 0 3%;
}

h1 {
    font-size: 1.3em;
    margin-top: 3%;
    margin-bottom: 0.5%;
}

h2 {
    
    font-size: 1.1em;
    padding-left: 4%;
    padding-bottom: 3%;
    padding-top: 4%;
  
}
.titre_pop {
    padding-bottom: 6%;
    padding-top: 9%;
    padding-left: 8%;
}

h3 {
    font-size: 0.9em;    
}


                                /*HEADER*/
header {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#logo {

    padding-top: 35px;

}
.choix {
    display: flex;
    align-items: flex-end;
}
nav ul { 
    list-style-type: none;
    display: flex;
      
}

nav ul li {

    padding: 35px 35px 0;
}

nav ul li:hover {
    border-top: solid #0065FC 2px;
    font-weight: bold;

}

a {
    text-decoration: none;
    color: black;
}

.menu a:hover {

    color: #0065FC;
    font-weight: bold;
}

.inscrire {
    color: #0065FC;
    font-weight: bold;
    padding: 35px 35px 0;
}

.inscrire:hover {
    border-top: solid #0065FC 2px;
    font-weight: bold;
}


                                /*SEARCH BAR*/

#barrederecherche {
    display: inline-block;
    border: solid 1px #f2f2f2;
    border-radius: 15px;
    margin-bottom: 25px;
}

.bouton {
    background-color: #0065FC;
    color: white;
    padding: 15px;
    border: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 0.9em;
     }
                                
.mapmarker {
    
    background-color: #F2F2F2;
    border: solid 1px #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-size: 1.3em;
    padding: 12px 15px 14px;
        }

.mapmarker i {

    color: black ;
}
   
.placeholder {
    border: none;
    font-size: 0.9em;
    padding-left: 10px;
            }
                                
input::placeholder {
    font-weight: bold;
    opacity: 0.9;
    color: black;
        }

.search {
    margin-bottom: 25px;
}
.p_search {
    margin-bottom: 25px;
}

                                /*FILTRES*/


.info {
    display: flex;
    margin: 3% 0;
}

.cercle {
    
    width: 44px;
    height: 41px;
    border-radius: 22px;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -13px;
}

.cercle2 {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border:  solid 1px #F2F2F2;
    font-size: 0.8em;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}
.Conteneur_filtre {

    display: flex;
    align-items: center;
    }

.icones {
    display: flex;
    font-size: 0.9em;
    white-space: nowrap;
    width: 100%;
    flex-wrap: wrap;
    
}

.filtres {
    display: flex;
    border: solid 2px #F2F2F2;
    border-radius: 20px 20px;
    align-items: center;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 2%;
    margin-left: 2%;
}

i {
    color: #0065FC;
}

.étoilegrise i{
    color: #f2f2f2;
}

.efra {
    padding-left: 8%;
}

                    /*MAIN HEBERGEMENTS*/

#HEBERGEMENTS {

    display: flex;
    column-gap: 30px;

}

.marseille {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 67%;
}

.container_hebergement {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
    row-gap: 30px;
    
}


.boxhebergement {
    
    background-color: white;
    border-radius: 20px;
    width: 29%;
    padding: 5px;    
    box-shadow: 2px 5px 15px #f2f2f2;
}

.imagehebergement {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 122px;
    object-fit: cover;
    width: 100%;

    }

.titre_hebergement {
    padding-left: 5%;
}

.titre_hebergement p {
    font-size: 0.8em;
}

.affiche {
    padding: 5% 4%;
    font-size: 0.9em;
    font-weight: bold;
}

.price {
    font-weight: bold;
}
.fa-star:before {
    font-size: 0.7em;
}
                        /*POPULAIRE*/

.populaire {
        
        background-color: #F2F2F2;
        width: 33%;
        border-radius: 20px;
    }

#pop {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    }

.container_pop {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;

} 

.boxpop {
    display: flex;
    background-color: white;
    width: 85%;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 2px 5px 15px #f2f2f2;
}
#pop i {
    padding-right: 9%;
    color: black;
}

.imagepop {
    width: 40%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;

}
.imagepop_3 {
    width: 45%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    height: 122px;
}

.titrepop {
    padding-top: 2%;
    padding-left: 4%;
}

.titrepop p {
    font-size: 0.8em;
    padding-top: 2%;
    padding-bottom: 25%;
}

.apop {
    display: flex;
}

                    /* ACTIVITES*/



#container_activité {
    display: flex;
    margin-bottom: 5%;
    height: 500px;
    column-gap: 3%;
    
}
.boxactivité_1 {
    border-radius: 15px;
    box-shadow: 2px 5px 15px #f2f2f2;
    width: 50%;
}

.imageactivité_1 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height: 88%;
}

.groupe_1 {
    width: 50%;
}
.boxactivité_2 {
    border-radius: 15px;
    box-shadow: 2px 5px 15px #f2f2f2;
    height: 54%;
    margin-bottom: 13%;
    
}
.imageactivité_2 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height: 84%;

}

.boxactivité_3 {
    border-radius: 15px;
    box-shadow: 2px 5px 15px #f2f2f2;
    height: 39%;
    
}
.imageactivité_3 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height: 69%;
}

.boxactivité_4 {
    width: 50%;
    border-radius: 15px;
    box-shadow: 2px 5px 15px #f2f2f2;
    
}
.imageactivité_4 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height: 89%;
}

.groupe_2 {
    width: 50%;
}

.boxactivité_5 {
    border-radius: 15px;
    box-shadow: 2px 5px 15px #f2f2f2;
    height: 46%;
    margin-bottom: 15%;
}

.imageactivité_5 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height: 76%;
}

.boxactivité_6 {
    border-radius: 15px;
    box-shadow: 2px 5px 15px #f2f2f2;
    height: 46%;
}

.imageactivité_6 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height: 76%;
}



.titre_marseille {
    /* padding: 40px 0 0; */
    /*font-size: 20px;
    transition: font-size 1s;
    /* transition: all 1s; */

    /* transition-property: font-size;
    transition-duration: 1s; */
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 0;

}
.activités h2:hover{
 color: maroon;
 font-size: 25px;
}
.titre_activité {
    padding: 4% 6%;
    font-weight: bold;
    font-size: 0.9em;
}




                    /*IMAGES HOVER TRANSFORM*/
.boxhebergement:hover, .boxpop:hover, .boxactivité_1:hover, .boxactivité_2:hover, .boxactivité_3:hover, .boxactivité_4:hover,
 .boxactivité_5:hover, .boxactivité_6:hover, .bouton:hover,  .famille:hover, .rom:hover, .animaux:hover, .bouton:hover, footer a:hover {
    -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    transform: scale(1.05) 
}



                    /*FILTRES HOVER TRANSFORM*/


.éco:hover, .famille:hover, .rom:hover, .animaux:hover {
    -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

                    /*FOOTER*/
footer {
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-evenly;
    padding: 3% 3%;
    }

.àpropos {
        display: flex;
        flex-direction: column;
        width: 33%;
    }
    
.noshebergements {
        display: flex;
        flex-direction: column;
        width: 33%;
    }
    
.assistance {
        display: flex;
        flex-direction: column;
        width: 33%;
    }
footer h3 {
    font-size: 1em;
    padding-bottom: 3%;
}
footer a {
    padding: 1% 0;
}

                                /*MEDIA QUERIES MAX 768PX (TABLETS)*/

@media screen and (max-width:768px) {
    h1 {
        font-size: 1.2em;
    }
    .p_search {
        font-size: 0.9em;
    }
    nav ul li {
        padding: 35px 15px 0;
    }
    .inscrire {
        padding: 35px 15px 0;
    }
    .mapmarker {
        padding: 13px 15px 14px
    }
    .filtres {
        margin-right: 1%;
    }
    .info p {
        font-size: 0.8em;
    }
    #HEBERGEMENTS {
        flex-direction: column;
        row-gap: 30px;
    }
    .marseille {
        width: 100%;
    }
    .populaire {
        flex-direction: row;
        width: 100%;
    }
    .titre_pop {
        padding-bottom: 3%;
        padding-top: 6%;
        padding-left: 8%;
    }
    .container_pop {
        height: 515px;
        row-gap: 20px;
    }
    .boxpop {
        height: 29%;
    }
    .imagepop_3 {
        width: 40%;
        height: 100%;
    }
    .titre_activité {
        padding: 6% 7%;
        font-weight: bold;
        font-size: 0.8em;
    }
    .boxactivité_3 {
        height: 42%;
    }
    .imageactivité_3 {
        height: 71%;
    }
    .boxactivité_5 {
        height: 47%;
    }
    .boxactivité_6 {
        height: 48%;
    }

    footer a {
        font-size: 0.8em;
    }
}


                            /*MEDIA QUERIES MAX 576px ET MIN 320px*/

@media screen and (max-width:576px) and (min-width:320px) {

    header {
        display: block;
    }
    #logo {
        padding: 0;
        height: 40px;
    }
    #logo img {
        margin-top: 25px;
        margin-left: 15px;
    }
    .choix {
        display: block;
    }
    nav ul {
        list-style-type: none;
        display: flex;
        padding: 20px;
    }
    .nav ul li {
        padding: 0;
    }
    nav ul li:hover {
        border-bottom: solid #0065FC 2px;
        padding-bottom: 5px;
        font-weight: bold;
        border-top: none;
    }
    .menu {
        width: 50%;
        text-align: center;
    }
    .inscrire {
        position: absolute;
        top: 5px;
        right: 15px;
    }
    .inscrire:hover {
        border-bottom: solid #0065FC 2px;
        padding-bottom: 5px;
        font-weight: bold;
        border-top: none;
    }
    /*.bouton {
        background-image: <i class="fas fa-search"></i>;
    }*/
    #barrederecherche {
        display: flex;
        border: solid 1px #f2f2f2;
        border-radius: 15px;
        justify-content: center;
        width: 100%;
        flex-wrap: nowrap;
    }
    .search {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        margin-bottom: 0;
    }
    .mapmarker {
        background-color: #F2F2F2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 15px;
    }
    .placeholder {
        border: none;
        font-size: 0.9em;
        padding: 0 10px;
        text-align: center;
    }
    .bouton {
        font-size: 0em;
        visibility: hidden;
        position: absolute;
        right: 3%;
        padding: 2px;
    }
    .bouton i {
        font-size: 16px;
        visibility: visible;
        background-color: #0065FC;
        color: white;
        padding: 16px 16px;
        border: solid -2px #0065FC;
        border-radius: 10px;
    }
    .Conteneur_filtre {
        display: block;
    }
    .Conteneur_filtre h3 {
        font-size: 0.9em;
        padding-bottom: 4%;
        padding-left: 1%;
    }
    .icones {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        width: 100%;
        flex-wrap: wrap;
    }
    .filtres {
        display: flex;
        border: solid 2px #F2F2F2;
        border-radius: 20px 20px;
        align-items: center;
        /* margin-right: 2%; */
        padding-left: 1%;
        padding-right: 2%;
        margin-left: 2%;
        padding: 0px 10px;
        margin-bottom: 2%;
    }
    .efra {
        padding: 0 4%;
    }
    .info {
        margin: 7% 0;
    }
    .cercle2 {
        margin-right: 2%;
    }
    #HEBERGEMENTS {
        flex-direction: column-reverse;
    }
    .boxhebergement {
        width: 100%;
    }
    .titre_hebergement {
        padding-left: 3%;
    }
    .marseille {
        margin-bottom: 4%;
    }
    .titre_marseille {
        padding-bottom: 4%;
        padding-top: 5%;
    }
    #container_activité {
        display: block;
        height: 100%;
        margin-bottom: 10%;
    }
    .boxactivité_1 {
        width: 100%;
        margin-bottom: 4%;
    }
    .titre_activité {
        padding: 3% 3%;
        padding-top: 2%;
    }
    .groupe_1, .groupe_2 {
        width: 100%;
    }
    .boxactivité_2 {
        margin-bottom: 4%;
    }
    .activités img {
        height: 130px;
    }
    .boxactivité_3, .boxactivité_5 {
        margin-bottom: 4%;
    }
    .boxactivité_4 {
        width: 100%;
        margin-bottom: 4%;
    }
    footer {
        flex-direction: column;
        padding-left: 4%;
    }
    .àpropos, .noshebergements, .assistance {
        width: 100%;
        margin-bottom: 8%;
    }

}