body {
    font-family: 'Raleway', 'sans-serif';
    overflow-x: hidden;
    width: 100%;
    margin: auto;
    
}

#page {
    margin: 3%;
}

h1 {
    font-size: 1.5em;
    
}

h2 {
    font-size: 1.1em;
    
    
}

h3 {
    font-size: 0.8em;
    font-weight: bold;

}

                                /*HEADER*/
header {
    display: flex;
    justify-content:space-between;
    align-items: baseline;
}


nav ul { 
    list-style-type: none;
    display: flex;
      
}

nav ul li {

    justify-content: space-between;
    padding: 35px;
}

nav ul li:hover {
    border-top: solid #0065FC 2px;
    font-weight: bold;

}

a {
    text-decoration: none;
    color: black;
}

.menu a:hover {

    color: #0065FC;
    font-weight: bold;
}

.inscrire {
    color: #0065FC;
    font-weight: bold;
}

                                /*SEARCH BAR*/

#barrederecherche {
        display: flex;
        justify-content: baseline;
        }

.bouton {
    background-color: #0065FC;
    color: white;
    padding: 10px;
    border: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
        }
                                
.mapmarker {
    background-color: #DEEBFF;
    border: solid 1px #F2F2F2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-size: 1.3em;
                                
        }
   
.placeholder {
                                
    border: none;
            }
                                
input::placeholder {
    font-weight: bold;
    opacity: 0.9;
    color: black;
        }


                                /*FILTRES*/

.filtre {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 66%;
}

.info {
    display: flex;
    align-items: baseline;
}

.cercle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #DEEBFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cercle2 {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border:  solid 1px #F2F2F2;
    font-size: 0.8em;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}
.Conteneur_filtre {

    display: flex;
    align-items: baseline;
    }

.icônes {
    display: flex;
    justify-content: space-between;
    align-self: center;
    
}

.éco { 
    display: flex;
    border: solid 2px #F2F2F2;
    border-radius: 20px 20px;
    align-items: center;
}

.famille {
    display: flex;
    border: solid 2px #F2F2F2;
    border-radius: 20px 20px;
    align-items: center;
    
}

.rom {
    display: flex;
    border: solid 2px #F2F2F2;
    border-radius: 20px 20px;
    align-items: center;
}

.animaux {
    display: flex;
    border: solid 2px #F2F2F2;
    border-radius: 20px 20px;
    align-items: center;
}

i {
    color: #0065FC;
    margin-left: auto;
    margin-right: auto;
}

.étoilegrise {
    opacity: 0.2;
}

.efra {
    
    margin: 10px;

}

                    /*MAIN HEBERGEMENTS*/

#HEBERGEMENTS {

    display: flex;
    column-gap: 40px;

}

.marseille {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 67%;
}

.container_hebergement {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    row-gap: 40px;
    
}


.boxhebergement {
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 16.5vw;
    height: 13vw;
    align-items: center;    
}

.imagehebergement {
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    
    height: 8vw;
    object-position: center;
    }

                        /*POPULAIRE*/

.populaire {
        
        background-color: #F2F2F2;
        width: 33%;
    }

#pop {
        display: flex;
        justify-content: space-between;
    }

                    /* ACTIVITES*/

.container_activité {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    width: 100%;
    grid-gap: 3%;
    object-fit: cover;
    }

.image_activité_1 {

    
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.image_activité_2 {
    
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    object-fit: cover;
}

.image_activité_3 {

    
    grid-column-start: 2;
    grid-row-start: 2;
    object-fit: cover;
}

.image_activité_4 {

    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.image_activité_5 {

    grid-column-start: 4;
    grid-row-start: 1;
    object-fit: cover;

}

.image_activité_6 {

    grid-column-start: 4;
    grid-row-start: 2;
    object-fit: cover;
}

                    /*FOOTER*/
footer {
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-evenly;
    padding: 3% 3%;
    }

.àpropos {
        display: flex;
        flex-direction: column;
        width: 33%;
        margin-left: 3%;
    }
    
.noshebergements {
        display: flex;
        flex-direction: column;
        width: 33%;
    }
    
.assistance {
        display: flex;
        flex-direction: column;
        width: 33%;
    }